// ----- FOOTER SECTION -----

footer {
    background-color:#1D0303;
    display: flex;
    justify-content: center;

    h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
    }
}
    