@use 'setup';
@use 'header';

// ----- GENERAL STYLES -----
html {
    font-family: 'Petit Formal Script', cursive;
    color: white;
    font-size: 62.5%;
}

// ----- ABOUT SECTION -----

.about {
    background-color: #500801;
    text-align: center;

    .wrapper {
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
        
        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                margin-top: 30px;
                margin-bottom: 20px;
                height: auto;
                width: 90vw;
                object-fit: contain;
            }
        }
    }
}

.about h2 {
    margin: 0;
    font-size: 4rem;
    line-height: 70px;
    font-weight: lighter;
}

.about p {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 0.2px;
    line-height: 2.5rem;
    margin-bottom: 20px;
}

.about button {
    background-color: #1D0303;
    border: none;
    color: white;
    width: 50%;
    font-family: 'Petit Formal Script', cursive;
    padding: 15px 20px;
    font-size: 2rem;
    margin-bottom: 40px;

    &:hover,
    &:focus {
        border: white solid 2px;
    }
}




