@use 'setup';
@use 'header';
@use 'about';
@use 'collection';
@use 'events';
@use 'trends';

// ----- GENERAL STYLES -----
html {
    font-family: 'Petit Formal Script', cursive;
    color: white;
    font-size: 62.5%;
}

// ----- FULL BLEED IMAGE -----

.full-bleed-image {
    display: flex;
    justify-content: center;
}

.full-bleed-image img {
    width: 100%;
    height: 15vh;
}